.title {
    margin: 0 0 25px 0;
}

.row {
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;

    .column {
        flex: 0 0 25%;
        padding: 0 15px;
        margin: 0 0 30px 0;
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 0 20px 0;
    .column {
    }
}
